#orderQuestionary{
  padding: 5vh 5vw;
  overflow: scroll;
  position:fixed;
  height: 80%;
  width: 90%;
}


input[type="text"] {
  font-size: 4vw;
  padding: 2vw;
  height: 6vh;
  position: relative;
  left: 0;
  border: 0px;
  border-radius: 10px;
  background-color: #b3b3b3;
  box-shadow: 5px 5px 5px gray;
}

input[type="number"] {
  font-size: 4vw;
  padding: 2vw;
  height: 6vh;
  position: relative;
  left: 0;
  border: 0px;
  border-radius: 10px;
  background-color: rgb(179, 179, 179);
  box-shadow: 5px 5px 5px gray;
}

label{
  font-weight: bold;
}

#uploadFile {
  display: grid;
  height: 30vh;
  width: 45vw;
  align-items: center;
  justify-content: center;
  background-color: #b3b3b3;
  border-radius: 18px;
  box-shadow: 5px 5px 5px gray;
  align-content: center;
  overflow:visible;
}

.question{
  border-top: solid rgba(0, 0, 0, 0.106);
  display: grid;
  margin-bottom: 3vh;
  padding-top: 3vh;
}

.payment{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.payment p{
  text-align: right;
}

#calculatePrice{
  width: 95%;
  background-color: rgb(184, 246, 123);
}
