/* styles.css */

.active {
    background-color: #1d4ed8;
}

nav {
    display: flex;
    height: 9vh;
    justify-content: space-between;
    align-items: center;
    background-color: #0f172a;
    color: white;
    position: sticky;
    top: 0;
}


nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
    background-color: #172554;
}



.dropbtn {

    color: white;
    padding: 5vw;
    border: none;
  }
  

.backbtn {
    color: white;
    padding: 5vw;
    border: none;
}


.dropdown {
    position: relative;
    display:inline-block;
    width: 100%;
}
  
.dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #adadad;
    width: 100%;
}

  
.dropdown-content a {
    color: black;
    padding: 6vw 8vw;
    border-bottom: solid black;
}

#labelLink{
    text-decoration: underline;
}

.popup-content p{
    width: 70%;
     font-size: 5vw;
}
#consultNumber{
    font-size: 5vw;

}

.modal{
    display: flex;
    flex-direction: column;
    font-size: 5vw;
}


.simpleModal{
    align-items: center;
}
.modalItem{
    margin: 2vh;
}

