.scrollable{
  padding: 5vh 5vw;
  overflow: scroll;
  position:fixed;
  height: 80%;
  width: 90%;
}

input{
  font-size: 4vw;
  padding: 2vw;
  height: 6vh;
  position: relative;
  left: 0;
  border: 0px;
  border-radius: 10px;
  background-color: rgb(179, 179, 179);
  box-shadow: 5px 5px 5px gray;
}

label{
  font-weight: bold;
}

.imgDiv{
  height: 46vh;
  width: 90vw;
  border-radius: 18px;
  object-fit: cover;
}

.imgDiv img{
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  overflow: hidden;
}

#uploadFile {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #b3b3b3;
  box-shadow: 5px 5px 5px gray;
  align-content: center;
}


.question{
  border-top: solid rgba(0, 0, 0, 0.106);
  display: grid;
  margin-bottom: 3vh;
  padding-top: 3vh;
}

.payment{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.payment p{
  text-align: right;
}

.info{
  font-style: italic;
  font-size: 0.9rem;
}


#calculatePrice{
  width: 95%;
  background-color: rgb(184, 246, 123);
  display: none;
  justify-content: center;
}

#totalPaymentDiv{
  display: none;
}
#firstPaymentDiv{
  display: none;
}
#secondPaymentDiv{
  display: none;
}
#sendOrderBtn{
  width: 95%;
  background-color: rgb(184, 246, 123);
  display: none;
  margin-top: 3vh;
  justify-content: center;
}
#unitLabel{
  display: none;
}