button{
    border: 0px;
    margin: 2vw;
    padding: 4vw;
    border-radius: 5px;
    background-color: rgb(179, 179, 179);
    box-shadow: 2px 5px 5px gray;
    font-size: 5vw;
}

.unitButtons{
    display: block;
}

#unit{
    margin-top: 2vh;
    border-top: solid rgba(0, 0, 0, 0.143);
}

input[type="text"] {
  font-size: 4vw;
  padding: 2vw;
  height: 6vh;
  position: relative;
  left: 0;
  border: 0px;
  border-radius: 10px;
  background-color: #b3b3b3;
  box-shadow: 5px 5px 5px gray;
}
#detailDiv{
    display: grid;
    margin-bottom: 3vh;
    padding-top: 3vh;
}