
input:disabled{
    color: rgba(0, 0, 0, 0.614);
    box-shadow: 0px 0px 0px;
}
button:disabled{
    color: rgba(0, 0, 0, 0.614);
    box-shadow: 0px 0px 0px;
}

.data i{
    width: 10%;
    margin-left: 2vw;
}
.data input{
    width: 80%;
}

.fa-check{
    display: none;
}
.fa-xmark{
    display: none;
}