#info{
    display:flex;
    flex-wrap: wrap;
}

.data{
    
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    min-width: 200px;
    margin: 3vw;
    height: 2vh;
}

#order{
    height: 10vh;
    display: flex;
    flex-direction: row;
}