#order{
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin: 3vw;
}
#order img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: 35vw
    
}
#info{
    display:flex;
    flex-wrap: wrap;
}

.data{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    height: 5vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.data p{
    text-align: right;
}
.data label{
    margin-left: 2vw;
    text-align: left;
}
#orderListItem{
    height: fit-content;
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.412);
}